body {
    font-family: 'Archivo Black', sans-serif;
    background-color: #000;
    color: #eee;
    background-image: url('../src/img/bg.min.svg');
}

.App {
    text-align: center;
    padding: 2% 5%;
}

.App * {
    box-sizing: border-box;
}

ul {
    padding: 0;
    list-style: none;
}

p {
    margin: 5px 0;
}

.display-none {
    display: none;
}
.showSuggestions {
    display: block;
}

input[type='text'],
input[type='number'] {
    padding: 8px 6px 8px 10px;
    border-radius: 4px;
    outline: none;
    border: 1px solid #ccc;
    font-size: 14px;
    line-height: 20px;
    align-self: center;
    height: 38px;
}

.city {
    width: 300px;
}
.event-grid {
    margin-top: 10px !important;
    animation-name: fadeInOpacity;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: 0.5s;
}

.event-number {
    width: 70px;
    margin: 3px;
}
.event-number,
.city input[type='text'] {
    font-family: 'Roboto', sans-serif !important;
    font-size: 1.1rem !important;
    background: none !important;
    border: 1px #e5f909 solid !important;
    color: white;
}

input:focus {
    color: white !important;
}

.header-logo {
    width: 100%;
    height: 95px;
    background-position: center;
    background-repeat: no-repeat;
    margin: 20px 0 40px;
    background-image: url('../src/img/meetup-logo.svg');
}

.event-header {
    font-size: 2rem;
    font-weight: bold;
    padding: 10px 0 0 0;
    color: #e5f909;
    width: 100%;
}

.header-segment {
    background: none !important;
    border: none !important;
    box-shadow: none !important;
    padding: 5px !important;
}

.event-number-input {
    margin-top: 20px !important;
}

.grid-header {
    background: none !important;
    border-radius: 20px !important;
    margin-bottom: 30px;
}

.grid-row-header {
    align-items: center !important;
    justify-content: center !important;
}

.grid-header {
    width: 97%;
    margin: 0 auto 50px !important;
}

.CitySearch {
    display: flex;
    flex-direction: column;
    flex-basis: 300px;
    max-width: 300px;
    margin: auto;
    position: relative;
}

.suggestions {
    width: 300px;
    position: absolute;
    z-index: 2;
    align-self: center;
    margin: 0;
    top: 40px;
    font-size: 14px;
    box-shadow: 10px 10px 16px -12px rgba(0, 0, 0, 0.75);
}

.suggestions > li {
    text-align: left;
    padding: 8px 6px 8px 10px;
    background-color: rgb(0, 0, 0);
    cursor: default;
}

.suggestions > li:last-child {
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

.suggestions > li:hover {
    background-color: #e5f909;
    color: rgb(0, 0, 0);
}

.event {
    padding: 10px 10px 35px;
    text-align: left;
    margin-bottom: 10px;
    border: none !important;
}

.event h2 {
    margin-bottom: 5px;
    font-family: 'Archivo Black', sans-serif !important;
}

.event > p {
    font-family: 'Roboto', sans-serif !important;
    font-size: 1.5rem !important;
}
.event a,
.event-details p {
    font-size: 1.15rem !important;
    font-family: 'Roboto', sans-serif !important;
}

.event-details {
    padding: 20px 50px;
}

.segment-block-details {
    margin-top: 0 !important;
}

.event-details-block {
    padding-top: 0 !important;
    margin-top: -10px;
    animation-name: fadeInOpacity;
    animation-iteration-count: 1;
    animation-timing-function: ease-out;
    animation-duration: 0.5s;
}

.arrow {
    width: 0;
    height: 0;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    border-bottom: 25px solid #ffe21f;
}

.arrow-el {
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 0 200px;
    justify-content: center;
}

.arrow-el.left {
    justify-content: flex-start;
}

.arrow-el.right {
    justify-content: flex-end;
}

.event-details {
    padding: 20px 40px !important;
}

.event-block,
.segment-block-details {
    border: #e5f909 3px solid !important;
    background: none !important;
    border-radius: 20px !important;
}

.segment-block-details {
    background-color: #ffe21fe0 !important;
    border: #ffe21f 5px solid !important;
    color: #000;
}
.event-block:last-child {
    height: 100%;
}

.event-email {
    margin-top: 20px !important;
    padding-bottom: 30px;
}

.event-details p {
    margin-top: 10px;
}

.event-details a {
    text-decoration: underline;
    color: #12006e;
}

.event-email a {
    opacity: 1 !important;
}

.details-btn {
    position: absolute;
    right: 15px;
    bottom: 20px;
    border-radius: 10px !important;
    font-family: 'Roboto', sans-serif !important;
    width: 160px;
}

.details-btn:hover {
    transition: all 0.5s ease-out;
}

.event-link {
    margin-top: 40px;
    font-size: 1.5rem;
}

.Alert {
    display: flex;
    justify-content: center;
}

.Alert p {
    position: absolute;
    padding: 10px;
    border-radius: 10px;
    background-color: #000;
    z-index: 1024;
    min-width: 425px;
    top: -55px;
    font-family: 'Roboto', sans-serif !important;
    font-size: 1.15rem !important;
    font-weight: bold;
}

.event-number-input .Alert p {
    top: 0px;
}

.data-vis-hr {
    border: none;
    border-top: #e5f909 1px solid;
    width: 100%;
    padding-bottom: 30px;
}

.data-vis-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 60px;
}

.bar-graph {
    flex-basis: 60%;
}

.pie-graph {
    flex-basis: 30%;
}

/* .recharts-legend-item span {
    font-size: 18px;
    font-weight: bold !important;
    font-family: 'Roboto', sans-serif !important;
    padding-bottom: 5px;
    color: #e5f909;
    padding-bottom: 15px;
} */

.recharts-cartesian-axis-tick-value,
text.recharts-text.recharts-pie-label-text {
    font-size: 18px;
    font-weight: bold !important;
    font-family: 'Roboto', sans-serif !important;
}

.recharts-cartesian-axis-tick-value {
    font-size: 1.1rem;
}

.recharts-default-tooltip {
    background-color: #000 !important;
    border: none !important;
    padding: 10px 20px !important;
    border-radius: 10px;
}

.recharts-default-label {
    font-family: 'Roboto', sans-serif !important;
}

.recharts-legend-item svg {
    display: none !important;
}

@media only screen and (min-width: 992px) {
    .data-vis-wrapper {
        flex-direction: row;
    }
    .data-vis-wrapper .recharts-responsive-container {
        min-width: auto;
        margin: 0 auto;
        flex-basis: 40%;
        max-width: 40%;
    }

    .data-vis-wrapper .bar-graph {
        flex-basis: 60%;
        max-width: 60%;
    }
}

@media only screen and (max-width: 991px) {
    .data-vis-wrapper .recharts-responsive-container {
        min-width: auto;
        margin: 0 -20px 0;
        flex-basis: 95%;
        max-width: 95%;
    }

    .data-vis-wrapper .pie-graph {
        margin: -40px 0 -40px 10px;
    }
}

@media only screen and (max-width: 767px) {
    .ui.stackable.grid > .wide.column {
        padding-top: 0 !important;
        margin-top: -10px !important;
    }
    .event-header {
        font-size: 1.2rem !important;
    }

    text.recharts-text.recharts-pie-label-text {
        font-size: 14px !important;
    }

    .grid-header {
        margin: 0 auto 10px !important;
    }
}

/* Animations fadeIn */
@keyframes fadeInOpacity {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/* loader styles */
.loading-progress {
    display: flex;
    align-content: center;
    justify-content: center;
    height: 100vh;
    align-items: center;
    flex-direction: column;
}
.loading-progress span {
    padding: 150px 50px 0 50px;
    font-family: 'Roboto', sans-serif;
    font-size: 2rem !important;
    color: #e5f909;
    font-weight: bold;
    text-align: center;
}

@media only screen and (max-width: 767px) {
    .loading-progress span {
        font-size: 1.5rem !important;
        line-height: 28px;
    }
}

/**
  * Dots flow
  *
  * @author jh3y - jheytompkins.com
*/
.dots-flow:before {
    -webkit-animation: dots-flow 0.85s infinite ease;
    animation: dots-flow 0.85s infinite ease;
    border-radius: 100%;
    content: '';
    height: 16px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -40px);
    transform: translate(-50%, -40px);
    width: 16px;
}

@-webkit-keyframes dots-flow {
    0%,
    100% {
        -webkit-box-shadow: -26px 32px 0px 0 black, 0px 32px 0 0 black, 26px 32px 0 0 black;
        box-shadow: -26px 32px 0px 0 black, 0px 32px 0 0 black, 26px 32px 0 0 black;
    }
    35% {
        -webkit-box-shadow: -26px 32px 0 4px #e5f909, 0px 32px 0 0 black, 26px 32px 0 0 black;
        box-shadow: -26px 32px 0 4px #e5f909, 0px 32px 0 0 black, 26px 32px 0 0 black;
    }
    50% {
        -webkit-box-shadow: -26px 32px 0 0 black, 0px 32px 0 4px #e5f909, 26px 32px 0 0 black;
        box-shadow: -26px 32px 0 0 black, 0px 32px 0 4px #e5f909, 26px 32px 0 0 black;
    }
    65% {
        -webkit-box-shadow: -26px 32px 0px 0 black, 0px 32px 0 0 black, 26px 32px 0 4px #e5f909;
        box-shadow: -26px 32px 0px 0 black, 0px 32px 0 0 black, 26px 32px 0 4px #e5f909;
    }
}

@keyframes dots-flow {
    0%,
    100% {
        -webkit-box-shadow: -26px 32px 0px 0 black, 0px 32px 0 0 black, 26px 32px 0 0 black;
        box-shadow: -26px 32px 0px 0 black, 0px 32px 0 0 black, 26px 32px 0 0 black;
    }
    35% {
        -webkit-box-shadow: -26px 32px 0 4px #e5f909, 0px 32px 0 0 black, 26px 32px 0 0 black;
        box-shadow: -26px 32px 0 4px #e5f909, 0px 32px 0 0 black, 26px 32px 0 0 black;
    }
    50% {
        -webkit-box-shadow: -26px 32px 0 0 black, 0px 32px 0 4px #e5f909, 26px 32px 0 0 black;
        box-shadow: -26px 32px 0 0 black, 0px 32px 0 4px #e5f909, 26px 32px 0 0 black;
    }
    65% {
        -webkit-box-shadow: -26px 32px 0px 0 black, 0px 32px 0 0 black, 26px 32px 0 4px #e5f909;
        box-shadow: -26px 32px 0px 0 black, 0px 32px 0 0 black, 26px 32px 0 4px #e5f909;
    }
}
